@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

$primary-font: 'Poppins', sans-serif;
$primary-color:#744BFC;
$button-border-color:#D9D9D9;
$white: #ffffff;
$login-text:#06163A;