@use "../../mixin" as m;
@use "../../variable" as v;
@use "../../responsive" as r;

.grid{
    
    width: 100%;
    height: 700px;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    @include r.tablet{
      margin-bottom: 35px;
    }
    @include r.big-tablet{
      margin-bottom: 35px;
    }
    @include r.mid-tablet{
      margin-bottom: 45px;
    }
    img{
        margin-left: 20px;
    }

    table {
        font-family: v.$primary-font;
        border-collapse: collapse;
        width: 100%;
        height: 100%;
      }
      
      td, th {
        border: 1px solid #C4CEE5;
        text-align: left;
        padding: 18px;
        width: 460px;
        @include r.mid-tablet{
          font-size: 12px;
          padding: 12px;
        }
        @include r.mini-tablet{
          font-size: 9px;
          padding: 9px;
          width: 160px;
        }
        
        
      }

      tr:nth-child(odd) {
        background-color: white;
        @include r.mini-tablet{
          padding: 0px;
         height: 20px;
        }
      }

      tr:nth-child(even) {
        @include r.mini-tablet{
          padding: 0px;
          height: 20px;
         }
        background-color: #EFF2FF;
      }
      
      

}
