@use "../../mixin" as m;
@use "../../variable" as v;
@use "../../responsive" as r;

.filter{
    @include m.flex_row;
    justify-content: space-between;
    align-items: center;
    width: 440px;
    height: 42px;
    @include r.mid-tablet{
        width: 280px;
        height: 32px;
      }
      @include r.big-tel{
        width: 200px;
        height: 21px;
      }
    .searchInput{
        position: relative;
        width: 380px;
        @include r.mid-tablet{
            width: 210px;
            height: 32px;
          }
          @include r.big-tel{
            width: 150px;
            height: 21px;
          }
        input{
            border-radius: 39px;
            padding-left: 15px;
            width: 100%;
            height: 42px;
            border: 1px solid v.$button-border-color;
            outline: none;
            opacity: .85;
            @include r.mid-tablet{
                width: 210px;
                height: 32px;
              }
            @include r.big-tel{
                width: 150px;
                height: 21px;
              }
            &:focus{
                outline-color: v.$primary-color;
                border-color: v.$primary-color;
            }
        }
        .search{
            background-color: v.$primary-color;
            border-radius: 0 39px 39px 0;
            width: 45px;
            height: 42px;
            top:0;
            right:0;
            position: absolute;
            @include m.center;
            opacity: .85;
            @include r.mid-tablet{
                width: 32px;
                height: 32px;
              }
              @include r.big-tel{
                img{
                    width: 10px;
                }
                top:3px;
                width: 18px;    
                height: 21px;
              }
            &:hover{
                opacity: 1;
            }
        }
    }
    .filterchoice{
        height: 42px;
        width: 50px;
        border-radius: 50%;
        background-color: white;
        @include m.center;
        @include r.big-tel{
            width: 34px;    
            height: 28px;
          }
        &:hover{
            border: .5px solid v.$primary-color;
        }
        @include r.big-tel{
            img{
                width: 10px;
            }
           
            width: 34px;    
            height: 28px;
          }
    }

}