@use "../../mixin" as m;
@use "../../variable" as v;
@use "../../responsive" as r;

.newButton{
    width: 175px;
    height: 42px;
    background: v.$primary-color;
    border-radius: 39px;
    @include m.flex_row;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    opacity: .85;
    cursor: pointer;
    @include r.mid-tablet{
        width: 120px;
        height: 32px;
      }
      @include r.big-tel{
        width: 100px;    
        height: 28px;
      }  
      @include r.mini-tel{
        width: 75px;    
        height: 18px;
      }
    &:hover{
        opacity: 1;
    }
    img{
        margin-right: 10px;
        width: 19px;
        height: 19px;
        @include r.big-tel{
            margin-right: 7px;
            width: 12px;    
            height: 12px;
          }
          @include r.mini-tel{
            width: 10px;    
            height: 10px;
          }
    }
    span{
        font-weight: 500;
        font-size: 13px;
        line-height: 21px;
        @include r.mid-tablet{
            font-size: 10px;
            line-height: 18px;
            font-weight: 400;
          }
          @include r.big-tel{
            font-size: 8px;
            line-height: 15px;
            font-weight: 300;
          } 
          @include r.mini-tel{
            font-size: 6px;
            line-height: 12px;
            font-weight: 300;
          }
    }
}