@use "../../mixin" as m;
@use "../../variable" as v;
@use "../../responsive" as r;

.upcontainer{
    margin: 0 5px 10px 5px;
    @include m.flex_row;
    justify-content: space-between;
    align-items: center;
}