@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
.login {
  position: relative;
  width: 488px;
  height: 406px;
  box-shadow: 0px 0px 3px 0px rgb(179, 179, 179);
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  border-radius: 13px;
}
.login #close {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 23px;
  right: 25px;
}
.login form {
  padding: 35px 34px 115px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login form label {
  margin: 18px 0 5px 10px;
}
.login form .form_input {
  width: 424px;
  height: 40px;
  border: 1px solid #D9D9D9;
  border-radius: 38px;
  outline: none;
  padding-left: 15px;
}
.login form .form_input:focus {
  outline-color: #744BFC;
  border-color: #744BFC;
}
.login .form_btn {
  width: 82.76px;
  height: 37.02px;
  border-radius: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login #submit-btn {
  position: absolute;
  bottom: 35px;
  right: 35px;
  background-color: #744BFC;
  color: white;
  opacity: 0.8;
}
.login #submit-btn:hover {
  opacity: 1;
}
.login #reset-btn {
  position: absolute;
  bottom: 35px;
  right: 134.24px;
  background-color: #D9D9D9;
  color: #744BFC;
}
.login #reset-btn:hover {
  background-color: #d1d2d9;
  border: none;
  outline: none;
}

.loginpopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filterOptions {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filterOptions .filterPopup {
  position: relative;
  width: 250px;
  height: 190px;
  box-shadow: 0px 0px 3px 0px rgb(179, 179, 179);
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  border-radius: 13px;
}
.filterOptions .filterPopup img {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 15px;
  right: 25px;
}
.filterOptions .filterPopup img:hover {
  opacity: 0.5;
}
.filterOptions .filterPopup .choices {
  height: 140px;
  padding: 70px 34px 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.filterOptions .filterPopup .choices div:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header #logo {
  position: absolute;
  left: 104px;
  top: 33px;
  height: 36.7;
  width: 124px;
}
@media all and (max-width: 1150px) {
  .header #logo {
    left: 50px;
  }
}
@media all and (max-width: 1050px) {
  .header #logo {
    left: 10px;
  }
}
@media all and (max-width: 950px) {
  .header #logo {
    height: 24px;
    width: 78px;
  }
}
@media all and (max-width: 720px) {
  .header #logo {
    height: 20px;
    width: 65px;
  }
}
.header .site_links {
  text-decoration: none;
  list-style-type: none;
}
.header .site_links ul {
  width: 539px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
@media all and (max-width: 950px) {
  .header .site_links ul {
    font-size: 12px;
    width: 450px;
  }
}
@media all and (max-width: 720px) {
  .header .site_links ul {
    width: 350px;
    font-size: 10px;
  }
}
@media all and (max-width: 600px) {
  .header .site_links ul {
    width: 300px;
    font-size: 9px;
  }
}
.header .site_links ul a {
  text-decoration: none;
  color: black;
}
.header .site_links ul a span {
  cursor: pointer;
  opacity: 0.7;
}
.header .site_links ul a span:hover {
  opacity: 1;
}
.header .social_links {
  height: 18px;
  width: 114px;
  position: absolute;
  right: 111px;
  top: 49px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media all and (max-width: 950px) {
  .header .social_links {
    height: 15px;
    width: 80px;
  }
}
@media all and (max-width: 1150px) {
  .header .social_links {
    right: 50px;
  }
}
@media all and (max-width: 1050px) {
  .header .social_links {
    right: 10px;
  }
}
.header .social_links img {
  opacity: 0.7;
  cursor: pointer;
}
@media all and (max-width: 950px) {
  .header .social_links img {
    height: 12px;
    width: 12px;
  }
}
.header .social_links img:hover {
  opacity: 1;
  cursor: pointer;
}

.newButton {
  width: 175px;
  height: 42px;
  background: #744BFC;
  border-radius: 39px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  opacity: 0.85;
  cursor: pointer;
}
@media all and (max-width: 950px) {
  .newButton {
    width: 120px;
    height: 32px;
  }
}
@media all and (max-width: 600px) {
  .newButton {
    width: 100px;
    height: 28px;
  }
}
.newButton:hover {
  opacity: 1;
}
.newButton img {
  margin-right: 10px;
  width: 19px;
  height: 19px;
}
@media all and (max-width: 600px) {
  .newButton img {
    margin-right: 7px;
    width: 12px;
    height: 12px;
  }
}
.newButton span {
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
}
@media all and (max-width: 950px) {
  .newButton span {
    font-size: 10px;
    line-height: 18px;
    font-weight: 400;
  }
}
@media all and (max-width: 600px) {
  .newButton span {
    font-size: 8px;
    line-height: 15px;
    font-weight: 300;
  }
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 440px;
  height: 42px;
}
@media all and (max-width: 950px) {
  .filter {
    width: 280px;
    height: 32px;
  }
}
@media all and (max-width: 600px) {
  .filter {
    width: 200px;
    height: 21px;
  }
}
.filter .searchInput {
  position: relative;
  width: 380px;
}
@media all and (max-width: 950px) {
  .filter .searchInput {
    width: 210px;
    height: 32px;
  }
}
@media all and (max-width: 600px) {
  .filter .searchInput {
    width: 150px;
    height: 21px;
  }
}
.filter .searchInput input {
  border-radius: 39px;
  padding-left: 15px;
  width: 100%;
  height: 42px;
  border: 1px solid #D9D9D9;
  outline: none;
  opacity: 0.85;
}
@media all and (max-width: 950px) {
  .filter .searchInput input {
    width: 210px;
    height: 32px;
  }
}
@media all and (max-width: 600px) {
  .filter .searchInput input {
    width: 150px;
    height: 21px;
  }
}
.filter .searchInput input:focus {
  outline-color: #744BFC;
  border-color: #744BFC;
}
.filter .searchInput .search {
  background-color: #744BFC;
  border-radius: 0 39px 39px 0;
  width: 45px;
  height: 42px;
  top: 0;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.85;
}
@media all and (max-width: 950px) {
  .filter .searchInput .search {
    width: 32px;
    height: 32px;
  }
}
@media all and (max-width: 600px) {
  .filter .searchInput .search {
    top: 3px;
    width: 18px;
    height: 21px;
  }
  .filter .searchInput .search img {
    width: 10px;
  }
}
.filter .searchInput .search:hover {
  opacity: 1;
}
.filter .filterchoice {
  height: 42px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media all and (max-width: 600px) {
  .filter .filterchoice {
    width: 34px;
    height: 28px;
  }
}
.filter .filterchoice:hover {
  border: 0.5px solid #744BFC;
}
@media all and (max-width: 600px) {
  .filter .filterchoice {
    width: 34px;
    height: 28px;
  }
  .filter .filterchoice img {
    width: 10px;
  }
}

.upcontainer {
  margin: 0 5px 10px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rowclass {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  width: 143px;
  height: 37px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media all and (max-width: 950px) {
  .rowclass {
    font-size: 10px;
    width: 125px;
  }
}
.rowclass .text {
  font-size: 10px;
}
.rowclass .rows {
  height: 37px;
  width: 90px;
  border: 0.8px solid #d9cdfe;
  border-radius: 39px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media all and (max-width: 950px) {
  .rowclass .rows {
    height: 30px;
    width: 75px;
  }
}
.rowclass .rows .row {
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.rowclass .rows .row .upBtn {
  cursor: pointer;
  opacity: 0.75;
}
.rowclass .rows .row .upBtn:hover {
  opacity: 1;
}
.rowclass .rows .row .downBtn {
  cursor: pointer;
  opacity: 0.75;
}
.rowclass .rows .row .downBtn:hover {
  opacity: 1;
}
.rowclass .rows .row .upactive {
  opacity: 0.4;
}
.rowclass .rows .row .downactive {
  opacity: 0.4;
}

.pagaeble {
  width: 103px;
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pagaeble input::-webkit-outer-spin-button,
.pagaeble input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media all and (max-width: 950px) {
  .pagaeble {
    width: 80px;
    font-size: 13px;
  }
}
@media all and (max-width: 600px) {
  .pagaeble {
    font-size: 11px;
  }
}
.pagaeble .left {
  transform: rotate(180deg);
  opacity: 0.75;
  cursor: pointer;
}
@media all and (max-width: 600px) {
  .pagaeble .left {
    height: 18px;
  }
}
.pagaeble .left:hover {
  opacity: 1;
}
.pagaeble .disableLeft {
  transform: rotate(180deg);
  opacity: 0.15;
}
@media all and (max-width: 600px) {
  .pagaeble .disableLeft {
    height: 18px;
  }
}
.pagaeble #currpage {
  width: 21px;
  height: 25px;
  border: 0.5px solid #EAEAEA;
  border-radius: 4px;
  text-align: center;
}
@media all and (max-width: 950px) {
  .pagaeble #currpage {
    width: 17px;
    height: 21px;
    font-size: 14px;
  }
}
@media all and (max-width: 600px) {
  .pagaeble #currpage {
    width: 14px;
    height: 15px;
    font-size: 11px;
  }
}
.pagaeble #currpage:focus {
  outline-color: #744BFC;
  border-color: #744BFC;
}
.pagaeble #text {
  color: #C9C9C9;
}
@media all and (max-width: 600px) {
  .pagaeble #text {
    font-size: 11px;
  }
}
.pagaeble #totalpage {
  color: #744BFC;
}
@media all and (max-width: 600px) {
  .pagaeble #totalpage {
    font-size: 11px;
  }
}
.pagaeble .right {
  opacity: 0.75;
  cursor: pointer;
}
@media all and (max-width: 600px) {
  .pagaeble .right {
    height: 18px;
  }
}
.pagaeble .right:hover {
  opacity: 1;
}
.pagaeble .disableRight {
  opacity: 0.15;
}
@media all and (max-width: 600px) {
  .pagaeble .disableRight {
    height: 18px;
  }
}

.downcontainer {
  margin: 25px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 100%;
  height: 865px;
  background: linear-gradient(180deg, #EFF2FF -30.56%, rgba(232, 236, 255, 0) 135.85%);
  border-radius: 6px;
  padding: 44px 80px 20px 60px;
}
@media all and (max-width: 1050px) {
  .container {
    padding: 44px 80px 0 60px;
    height: 950px;
  }
}
@media all and (max-width: 950px) {
  .container {
    height: 900px;
    padding: 24px 55px 20px 30px;
  }
}
@media all and (max-width: 600px) {
  .container {
    padding: 18px 40px 15px 22px;
  }
}
@media all and (max-width: 480px) {
  .container {
    padding: 10px 28px 10px 15px;
  }
}

.grid {
  width: 100%;
  height: 700px;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
}
@media all and (max-width: 1050px) {
  .grid {
    margin-bottom: 35px;
  }
}
@media all and (max-width: 1000px) {
  .grid {
    margin-bottom: 75px;
  }
}
@media all and (max-width: 950px) {
  .grid {
    margin-bottom: 35px;
  }
}
.grid img {
  margin-left: 20px;
}
.grid table {
  font-family: "Poppins", sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
.grid td, .grid th {
  border: 1px solid #C4CEE5;
  text-align: left;
  padding: 18px;
  width: 460px;
}
@media all and (max-width: 950px) {
  .grid td, .grid th {
    font-size: 12px;
    padding: 12px;
  }
}
@media all and (max-width: 720px) {
  .grid td, .grid th {
    font-size: 9px;
    padding: 9px;
    width: 160px;
  }
}
.grid tr:nth-child(odd) {
  background-color: white;
}
@media all and (max-width: 720px) {
  .grid tr:nth-child(odd) {
    padding: 0px;
    height: 20px;
  }
}
.grid tr:nth-child(even) {
  background-color: #EFF2FF;
}
@media all and (max-width: 720px) {
  .grid tr:nth-child(even) {
    padding: 0px;
    height: 20px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.app {
  width: 98vw;
  padding: 0px 29px 0 27px;
}
@media all and (max-width: 600px) {
  .app {
    padding: 0;
    width: 100vw;
  }
}/*# sourceMappingURL=app.css.map */